.nav-background {
    background-color: var(--navBackground);
    color: var(--white);
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: #000000df 0px 2px 10px;
}

.background-sm {
    background-color: #000000;
    box-shadow: #000000df 2px 0px 10px;
}

.background-lg {
    background-color: var(--navBackground);
}

.sidebar-animation {
    animation: sidebar;
    animation: 4s;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-start;
    width: 50%;
    top: 0;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    box-shadow: #000000df 2px 0px 10px;
    padding-top: 4rem;
    left: 0px;
    transition: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;

    li:first-child {
        width: auto;
    }

    li {
        width: 100%;
        text-align: center;
    }

    li:first-child:hover {
        background-color: transparent;
        color: white;
    }

    li:hover {
        background-color: var(--primary);
        color: black;
        transition: 1s;
    }

}

.none {
    // display: none;
    left: -999px;
    transition: 0s;
}

.settingMenu-background{
    background-color: var(--primary);
}

.upper{
    transform: rotate(90deg);
}

.dropdown-top{
    top: 18.5rem;
}

@media (min-width: 640px) {
    .sidebar {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-around;
        align-items: center;
        height: auto;
        padding-left: 2.5rem;
        background-color: transparent;
        box-shadow: none;
        padding-top: 0px;
        left: 0;
        transition: 0s;

        li:hover {
            background-color: transparent;
            color:rgb(215, 215, 215);
            cursor: pointer;
        }
    }

    // .none{
    //     display: none;
    // }

    .setting-dropdown-left{
        right:0;
    }
    .dropdown-top{
        top: 4.7rem;
    }
}